#bg-login{
    background-image: url("../assets/background-log.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -12rem;
}
#header-bg{
    background-image: url("../assets/header-bg.svg");
    background-repeat: no-repeat;
}